{% extends 'store_app/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h1>Продукт "{{ product.name }}"</h1>

<p><b>Цена товара:</b> {{ product.price }}</p>
<p><b>Описание товара:</b> {{ product.description }}</p>
<p>
    <b>Категория товара: </b><a href="{% url 'category_detail' product.category.id %}">{{ product.category.name }}</a>
</p>
<p><b>Дата создания:</b> {{ product.created_at }}</p>

<div style="margin-bottom: 20px; text-align: right;">
    <a class="btn btn-light" href="{% url 'product_list' %}">Отмена</a>
    <a href="{% url 'product_edit' product.id %}" class="btn btn-primary" role="button">Редактировать</a>
    <a href="{% url 'product_delete' product.id %}" class="btn btn-danger" role="button">Удалить</a>
</div>
{% endblock %}
